body {
  background-color: #000;
}

#title {
  margin-top: 10px;
  font-family: 'Josefin Slab', serif;
  font-size: 60px;
  text-align: center;
  color:#fff5e5;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2px;
}

#canvas {
  border:20px solid #ABABAB;
  background-color:black;
  text-align: center;
  box-shadow: 0 0 5px 4px #867979;
  padding-left: 0;
  padding-right: 0;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#winning {
  display: none;
  width: 782px;
  height: 520px;
  z-index: 1;
  margin: auto;
  position: absolute;
  top: 20px; left: 0; bottom: 0; right: 0;
  background-color: blue;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Press Start 2P', cursive;
  background-color:black;
  color: #585858;
}

#losing {
  display: none;
  width: 782px;
  height: 520px;
  z-index: 1;
  margin: auto;
  position: absolute;
  top: 20px; left: 0; bottom: 0; right: 0;
  background-color: blue;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Press Start 2P', cursive;
  background-color:black;
  color: #585858;
}

#won-title {
  font-size: 30px;
  margin-top: 50px;
  color: white;
}

#lose-title {
  font-size: 30px;
  margin-top: 50px;
  color: white;
}

#ball-reset {
  width: 782px;
  height: 520px;
  z-index: 1;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Press Start 2P', cursive;
  display: none;
  margin-top: 30px;
  color: white;
}

#lives-reset {
  font-size: 20px;
  text-align: center;
}

#restart {
  margin-top: 85px;
}

#restart-lose {
  margin-top: 85px;
}

#continue {
  font-size: 20px;
  margin-top: 50px;
  color: white;
}

h1{
  -webkit-animation: color-change 2s infinite;
  -moz-animation: color-change 2s infinite;
  -o-animation: color-change 2s infinite;
  -ms-animation: color-change 2s infinite;
  animation: color-change 2s infinite;
  }

  @-webkit-keyframes color-change {
      0% { color: #CC3ED0; }
      20% { color: #F95255; }
      40% { color: #FE801A; }
      60% { color: #FF911B; }
      80% { color: #10AC24; }
      100% { color: #6667FF; }
  }
  @-moz-keyframes color-change {
      0% { color: #CC3ED0; }
      20% { color: #F95255; }
      40% { color: #FE801A; }
      60% { color: #FF911B; }
      80% { color: #10AC24; }
      100% { color: #6667FF; }
  }
  @-ms-keyframes color-change {
      0% { color: #CC3ED0; }
      20% { color: #F95255; }
      40% { color: #FE801A; }
      60% { color: #FF911B; }
      80% { color: #10AC24; }
      100% { color: #6667FF; }
  }
  @-o-keyframes color-change {
      0% { color: #CC3ED0; }
      20% { color: #F95255; }
      40% { color: #FE801A; }
      60% { color: #FF911B; }
      80% { color: #10AC24; }
      100% { color: #6667FF; }
  }
  @keyframes color-change {
      0% { color: #CC3ED0; }
      20% { color: #F95255; }
      40% { color: #FE801A; }
      60% { color: #FF911B; }
      80% { color: #10AC24; }
      100% { color: #6667FF; }
  }

